@model BlogMvcApp.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Baslik</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.EklenmeTarihi
</p>

<hr />

<img class="img-responsive" src="http://placehold.it/1200x600" alt="" />
<hr />
<blockquote>
    <p>@Model.Aciklama</p>
</blockquote>
<p>@Model.Icerik</p>